* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding: 0;
}

/*公共样式*/
.space-10 {
    height: 10px;
    clear: both;
}
.color-orange {
    color: #f22e00 !important;
}
.color-red {
    color: #dd4410 !important;
}

.color-orange2 {
    color: #FF905B !important;
}

.color-dark {
    color: #6C6C6C !important;
}

.color-dark2 {
    color: #999 !important;
}

.color-white {
    color: #fff;
}

.hidden {
    display: none;
}

.text {
    color: #6C6C6C;
    font-size: 12px;
    margin: 0 5px;
    padding: 0 5px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.ahover:hover {
    color: #f22e00;
}
.space-50 {
    width: 50px;
    height: 100%;
}
.fa-150 {
    font-size: 1.5em;
    line-height:.75em;
    vertical-align:-15%
}
.relative {
    position: relative;
}

.clear {
    clear: both;
}
.text-center {
    text-align: center;
}
/*公共样式*/


/*字体样式*/

.f11 {
    font-size: 11px !important;
}
.f12 {
    font-size: 12px !important;
}
.f13 {
    font-size: 13px !important;
}
.f14 {
    font-size: 14px !important;
}
.f15 {
    font-size: 15px !important;
}
.f16 {
    font-size: 16px !important;
}
.f17 {
    font-size: 17px !important;
}
.f18 {
    font-size: 18px !important;
}
.f19 {
    font-size: 19px !important;
}
.f20 {
    font-size: 20px !important;
}
.f22 {
    font-size: 22px !important;
}

/*自定义样式*/
.no-pm {
    padding: 0;
    margin: 0;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center !important;
}